@{
    ViewBag.Title = "Hakkında";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="font-weight:bold; font-size:15px;">Vizyon:</p>
<p>Dünya Üniversitesi’nin vizyonu eğitim, öğretim ve araştırmada öncü konumuyla geleceği şekillendiren bir üniversite olmaktır.</p>
<p style="font-weight:bold; font-size:15px;">Misyon:</p>
<p>Kurumsal değerlerimizi sahiplenen, yaratıcı ve eleştirel düşünen, özgür ve özgürlükçü, etik değerleri önemseyen, doğa ve çevre bilinci gelişmiş, yerele kök salmış-evrensele açık, bilimsel, sosyal ve kültürel formasyonu ve özgüveni ile üstleneceği mesleki ve sosyal sorumlulukları başarıyla yerine getirecek bireyler yetiştirmek; evrensel boyutta düşünce, bilim ve teknoloji üreterek insanlığın hizmetine sunmak ve bilim, sanat ve kültürün toplumda yer bulmasında ve yaygınlık kazanmasında yardımcı ve öncü olmaktır.</p>

