@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address style="font-weight:bold;">
    Dünya Üniversitesi Tuzla Kampüsü, 34959 Akfırat<br />
    Tuzla / İSTANBUL<br />
    <abbr>Telefon:</abbr>
    0222 222 22 22
</address>

<address>
    <strong>Üniversite:</strong>   <a href="mailto:Support@example.com">dunya.universitesi@dunya.edu.tr</a><br />
    <strong>Mali İşler:</strong> <a href="mailto:Marketing@example.com">mali.isler@dunya.edu.tr</a><br />
    <strong>Öğrenci İşleri:</strong> <a href="mailto:Marketing@example.com">ogrenci.isleri@dunya.edu.tr</a><br />
    <strong>Mühendislik Fakültesi:</strong> <a href="mailto:Marketing@example.com">muhendislik.fakultesi@dunya.edu.tr</a><br />
    <strong>Sağlık Fakültesi:</strong> <a href="mailto:Marketing@example.com">saglik.fakultesi@dunya.edu.tr</a><br />
    <strong>Fen Fakültesi:</strong> <a href="mailto:Marketing@example.com">fen.fakultesi@dunya.edu.tr</a>

</address>