@{
    ViewBag.Title = "Dünya Üniversitesi";
}
</br>
</br>
</br>
</br>
<center><p style="font-weight:bold; font-size:30px;">Duyurular</p></center>
<center>
    <table>
        <tr style="background-color:lawngreen">
            <td style="width:200px; font-size:16px; font-weight:bold; border:2px solid black; padding: 15px;">Matematik Bölümü Açıldı</td>
            <td style="width:200px; font-size:16px; font-weight:bold; border:2px solid black; padding: 15px;">Ahmet Akturan Üniversitemize Katıldı</td>
            <td style="width:200px; font-size:16px; font-weight:bold; border:2px solid black; padding: 15px;">12 Ocak 2022 Tarihinde Konser Verilecek</td>
            <td style="width:200px; font-size:16px; font-weight:bold; border:2px solid black; padding: 15px;">Koronavirüs Önlemleri</td>
        </tr>
        <tr style="background-color:darkseagreen">
            <td style="width:200px; font-size:16px; border:2px solid black; padding: 15px;">Yeni açılan matematik bölümüne 2 profesör alımı yapıldı. Bölümün sınıf ve ders hazırlıkları devam ediyor...</td>
            <td style="width:200px; font-size:16px; border:2px solid black; padding: 15px;">Matematik profesörü Ahmet Akturan yeni açılan matematik bölümümüzde ders vermek üzere üniversitemize katıldı.</td>
            <td style="width:200px; font-size:16px; border:2px solid black; padding: 15px;">12 Ocak tarihinde orkestra konseri verilecek.</td>
            <td style="width:200px; font-size:16px; border:2px solid black; padding: 15px;">Üniversitemizde koronavirüs önlemleri devam ediyor. Sınıflar dezenfekte ediliyor ve akademik personelimiz hijyene dikkat gösteriyor...</td>
        </tr>
    </table>
</center>
